<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/bootadmin.min.css">
    <link rel="stylesheet" href="css/datatables.min.css">
    <link rel="stylesheet" href="css/table.css">
    <link rel="stylesheet" href="css/bootstrap-material-datetimepicker.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title><%= sname %></title>
</head>
<body class="bg-light">

    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <a class="sidebar-toggle mr-3" href="#"><i class="fa fa-bars"></i></a>
        <a class="navbar-brand" href="#"><%= sname %></a>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a href="#" id="dd_user" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>  <%= name %></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd_user">
                        <a href="/logout" class="dropdown-item">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="d-flex">
        <div class="sidebar sidebar-dark bg-dark">
            <ul class="list-unstyled">
                <% if (role >= 2) { %>
                <li><a href="/admin"><i class="fa fa-fw fa-users"></i> Member Approval</a></li>
                <% } %>
                <li><a href="/intel"><i class="fa fa-fw fa-info"></i> Intel</a></li>
                <li><a href="#"   data-toggle="modal" data-target="#addop"><i  data-toggle="modal" data-target="#addop" class="fa fa-fw fa-space-shuttle"></i> Add OP</a></li>
            </ul>
        </div>

        <div class="content p-4">
            <h2 class="mb-4">Intel</h2>
            <div class="card mb-4">
                <div class="card-body">
                    <table id="table_id" class="display">
                        <thead>
                            <tr>
                                <th>Group</th>
                                <th>OP Type</th>
                                <th>Time E.T.</th>
                                <th>FC</th>
                                <th>Doctrine</th>
                                <th>Comment</th>
                                <% if (role == 3) { %>
                                <th>By</th>
                                <th>Action</th>
                                <% } %>
                            </tr>
                        </thead>

                        <% for(var i=0; i<intel.length; i++) { 
                            if (!intel[i].deleted) {
                        %>

                         <tr id='<%= intel[i]._id %>'> 
                            <td><%= intel[i].Group %></td>
                            <td><%= intel[i].Type %></td>
                            <td><%= intel[i].Date %></td>
                            <td><%= intel[i].FC %></td>
                            <td><%= intel[i].Doctrine %></td>
                            <td><%= intel[i].Comment %></td>
                            <% if (role == 3) { %>
                            <td><%= intel[i].Author_Name %></td>
                            <td class="dt-center"><div><button id='' onclick="modaledit(<%= JSON.stringify(intel[i]) %>)" data-toggle="modal" data-target="#editmodal" type="button" class="btn btn-primary btn-sm btn-outline-info">Edit</button><button onclick="rmop('<%= intel[i]._id %>')" style='margin-left: 1em;'type="button" class="btn btn-outline-danger btn-sm">Remove</button></div></td>
                            <% } %>
                        </tr>
                        <% } %>
                        <% } %>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- modal add -->
    <div class="modal fade" id="addop" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Add OP</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/AddIntel" id="modalf">

                        <div class="form-group">
                            <label for="Group">Group</label>
                            <input type="text" class="form-control" id="Group" name="Group" placeholder="Group">
                        </div>

                        <div class="form-group">
                            <label for="Date">Date</label>
                            <input type="text" class="form-control" id="Date" name="Date" placeholder="Date">
                        </div>

                        <div class="form-group">
                            <label for="Type">Type</label>
                            <input type="text" class="form-control" id="Type" name="Type" placeholder="Type">
                        </div>

                      <!--   <div class="form-group">
                            <label for="role">Type</label>
                            <select class="form-control" id="role" name="Type">
                                <option value="FUN">FUN</option>
                                <option value="Roaming">Roaming</option>
                                <option value="Strat OP">Strat OP</option>
                                <option value="CTA">CTA</option>
                                <option value="RED PEN">RED PEN</option>
                            </select>
                        </div> -->

                        <div class="form-group">
                            <label for="FC">FC</label>
                            <input type="text" class="form-control" id="FC" name="FC" placeholder="FC">
                        </div>

                        <div class="form-group">
                            <label for="Doctrine">Doctrine</label>
                            <input type="text" class="form-control" id="Doctrine" name="Doctrine" placeholder="Doctrine">
                        </div>

                        <div class="form-group mb-0">
                            <label for="Comment">Comment</label>
                            <textarea class="form-control" form="modalf" id="Comment" name='Comment' rows="3"></textarea>
                        </div>

                        <div style="display: none" class="form-group">
                            <input type="text" class="form-control" id="Author" name="Author" value="<%= id %>">
                        </div>

                        <div style="display: none" class="form-group">
                            <input type="text" class="form-control" id="Author_Name" name="Author_Name" value="<%= name %>">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button form="modalf" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal edit -->
    <div class="modal fade" id="editmodal" tabindex="-1" role="dialog" aria-labelledby="editmodal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editmodal">Edit Modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/AEditIntel" id="modaledit">

                        <div class="form-group">
                            <label for="Group">Group</label>
                            <input type="text" class="form-control" id="eGroup" name="Group" placeholder="Group">
                        </div>

                        <div class="form-group">
                            <label for="Date">Date</label>
                            <input type="text" class="form-control" id="eDate" name="Date" placeholder="Date">
                        </div>

                        <div class="form-group">
                            <label for="Type">Type</label>
                            <input type="text" class="form-control" id="eType" name="Type" placeholder="Type">
                        </div>

                      <!--   <div class="form-group">
                            <label for="role">Type</label>
                            <select class="form-control" id="role" name="Type">
                                <option value="FUN">FUN</option>
                                <option value="Roaming">Roaming</option>
                                <option value="Strat OP">Strat OP</option>
                                <option value="CTA">CTA</option>
                                <option value="RED PEN">RED PEN</option>
                            </select>
                        </div> -->

                        <div class="form-group">
                            <label for="FC">FC</label>
                            <input type="text" class="form-control" id="eFC" name="FC" placeholder="FC">
                        </div>

                        <div class="form-group">
                            <label for="Doctrine">Doctrine</label>
                            <input type="text" class="form-control" id="eDoctrine" name="Doctrine" placeholder="Doctrine">
                        </div>

                        <div class="form-group mb-0">
                            <label for="Comment">Comment</label>
                            <textarea class="form-control" form="modaledit" id="eComment" name='Comment' rows="3"></textarea>
                        </div>
                        <div style="display: none" class="form-group">
                            <input type="text" class="form-control" id="e_id" name="_id">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button form="modaledit" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootadmin.min.js"></script>
    <script src="js/datatables.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/bootstrap-material-datetimepicker.js"></script>
    <script type="text/javascript">

      function modaledit(intel){
        console.log(intel.Group)
        $('#eGroup').val(intel.Group);
        $('#eDate').val(intel.Date);
        $('#eType').val(intel.Type);
        $('#eFC').val(intel.FC);
        $('#eDoctrine').val(intel.Doctrine);
        $('#eComment').val(intel.Comment);
        $('#e_id').val(intel._id);
    }

        function rmop(id) {
        $.post( "/oprm",{_id : id} , function( data ) {
          if (data == "OK") {
            $("#" + id).remove();
          }
      });
    }
    

    $(document).ready( function () {
        $('#Date').bootstrapMaterialDatePicker({ format : 'DD/MM/YY - HH:mm' });
        $('#eDate').bootstrapMaterialDatePicker({ format : 'DD/MM/YY - HH:mm' });
        $('#table_id').DataTable();

    } );
</script>

</body>
</html>